<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 min-vh-100">
      <div class="panel panel-default border p-2 min-vh-100">
        <div class="panel-heading">
          <h3 class="panel-title">Chats</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" id="chats">
            <% @chats.each do |chat| %>
              <li class="list-group-item d-flex justify-content-between" id="<%= dom_id(chat) %>">
                <%= link_to chat.name, chat_path(chat), data: { turbo_frame: 'chat_messages' } %>
                <%= button_to 'destroy', chat_path(chat), method: :delete, data: { turbo_confirm: 'Tem certeza ?'}, class: 'btn btn-xs btn-danger' %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer p-2">
          <%= render partial: 'chats/form', locals: { chat: Chat.new } %>
        </div>
      </div>
    </div>
    <div class="col-md-8 p-2 min-vh-100">
      <div class="panel panel-default border p-2 min-vh-100">
        <div class="panel-body">
          <%= turbo_frame_tag :chat_messages %>
        </div>
      </div>
    </div>
  </div>
</div>
